<Card Background="Background.Light">
    <CardBody>
        <Row>
            <Column ColumnSize="ColumnSize.Is3.Is2.OnWidescreen">
                <Button Block="true" Color="Color.Dark" Outline="true" Clicked="Selection.MoveToPreviousQuestionAsync" Disabled="Selection.IsAtFirstQuestion">
                    <Icon Name="IconName.ChevronLeft" Margin="Margin.Is1.FromRight" />
                    Previous
                </Button>
            </Column>
            <Column ColumnSize="ColumnSize.Is6.Is8.OnWidescreen" Display="Display.Flex.Column" Class="align-items-center">
                <Heading Size="HeadingSize.Is5" Margin="Margin.IsAuto.OnX.Is0.OnY" Alignment="TextAlignment.Center" Class="text-break">
                    @($"Round {Selection.RoundNumber + 1}. {Selection.Round.Title}")
                </Heading>
                <Heading Size="HeadingSize.Is5" Margin="Margin.IsAuto.OnX.Is0.OnY" Alignment="TextAlignment.Center" Class="text-break">
                    @($"Question {Selection.QuestionNumber + 1}: {Selection.Question.Points:G4} point{(Selection.Question.Points != 1 ? "s" : "")}")
                </Heading>
            </Column>
            <Column ColumnSize="ColumnSize.Is3.Is2.OnWidescreen">
                <Button Block="true" Color="Color.Dark" Outline="true" Clicked="Selection.MoveToNextQuestionAsync" Disabled="Selection.IsAtLastQuestion">
                    Next
                    <Icon Name="IconName.ChevronRight" Margin="Margin.Is1.FromLeft" />
                </Button>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is12.Is10.OnDesktop.Is1.WithOffset.OnDesktop" Margin="Margin.Is3.OnY">
                @{
                    var isQuestionHidden = Selection.Question.State == QuestionState.Hidden;
                    <Blazorise.Text Display="Display.Block" Color="isQuestionHidden ? TextColor.Muted : TextColor.None" Margin="Margin.Is1.OnY.Is4.OnX">
                        @if (isQuestionHidden)
                        {
                            <Icon Name="IconName.EyeSlash" Margin="@Margin.Is1.FromRight.Is("ml-n4")" />
                        }
                        @Selection.Question.Text
                    </Blazorise.Text>

                    var isAnswerHidden = Selection.Question.State < QuestionState.AnswerRevealed;
                    <Blazorise.Text Display="Display.Block" Color="isAnswerHidden ? TextColor.Muted : TextColor.None" Margin="Margin.Is1.OnY.Is4.OnX">
                        @if (isAnswerHidden)
                        {
                            <Icon Name="IconName.EyeSlash" Margin="@Margin.Is1.FromRight.Is("ml-n4")" />
                        }
                        @Selection.Question.Answer
                    </Blazorise.Text>
                }
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is12.Is10.OnFullHD.Is1.WithOffset.OnFullHD">
                <Row>
                    @{
                        bool isRoundHidden = Selection.Round.State == RoundState.Hidden;
                        <Column ColumnSize="ColumnSize.IsQuarter">
                            @{
                                bool canShowRound = isRoundHidden;
                                bool canShowOtherRounds = Quiz.Rounds.Except(Selection.Round).Any(round => round.State == RoundState.Hidden);
                                <Dropdown Display="Display.Flex" RightAligned="true" Disabled="!canShowOtherRounds">
                                    <Button Block="true" Color="canShowRound ? Color.Primary : Color.Dark" Clicked="Selection.Round.OpenAsync" Outline="true" Disabled="!canShowRound">
                                        Show Round
                                    </Button>
                                    <DropdownToggle Split="true" Color="canShowOtherRounds ? Color.Primary : Color.Dark" Outline="true" />
                                    <DropdownMenu>
                                        <DropdownItem Clicked="ShowAllRoundsAsync">
                                            Show all rounds in quiz
                                        </DropdownItem>
                                    </DropdownMenu>
                                </Dropdown>
                            }
                        </Column>
                        <Column ColumnSize="ColumnSize.IsQuarter">
                            @{
                                bool canShowQuestion = !isRoundHidden && Selection.Question.State == QuestionState.Hidden;
                                bool canShowOtherQuestions = !isRoundHidden && Selection.Round.Questions.Except(Selection.Question).Any(question => question.State == QuestionState.Hidden);
                                <Dropdown Display="Display.Flex" RightAligned="true" Disabled="!canShowOtherQuestions">
                                    <Button Block="true" Color="canShowQuestion ? Color.Primary : Color.Dark" Clicked="Selection.Question.OpenAsync" Outline="true" Disabled="!canShowQuestion">
                                        Show Question
                                    </Button>
                                    <DropdownToggle Split="true" Color="canShowOtherQuestions ? Color.Primary : Color.Dark" Outline="true" />
                                    <DropdownMenu>
                                        <DropdownItem Clicked="ShowAllQuestionsInRoundAsync">
                                            Show all questions in round
                                        </DropdownItem>
                                    </DropdownMenu>
                                </Dropdown>
                            }
                        </Column>
                        <Column ColumnSize="ColumnSize.IsQuarter">
                            @{
                                bool canLockQuestion = Selection.Question.State == QuestionState.Open;
                                bool canLockOtherQuestions = Selection.Round.Questions.Except(Selection.Question).Any(question => question.State == QuestionState.Open);
                                <Dropdown Display="Display.Flex" RightAligned="true" Disabled="!canLockOtherQuestions">
                                    <Button Block="true" Color="canLockQuestion ? Color.Primary : Color.Dark" Clicked="Selection.Question.LockAsync" Outline="true" Disabled="!canLockQuestion">
                                        Lock Answers
                                    </Button>
                                    <DropdownToggle Split="true" Color="canLockOtherQuestions ? Color.Primary : Color.Dark" Outline="true" />
                                    <DropdownMenu>
                                        <DropdownItem Clicked="LockAllQuestionsInRoundAsync">
                                            Lock all questions in round
                                        </DropdownItem>
                                    </DropdownMenu>
                                </Dropdown>
                            }
                        </Column>
                        <Column ColumnSize="ColumnSize.IsQuarter">
                            @{
                                bool isQuestionLocked = Selection.Question.State == QuestionState.Locked;
                                bool areAllAnswersMarked = Selection.Question.Answers.All(answer => answer.AssignedPoints >= 0);
                                bool canShowAnswer = isQuestionLocked && areAllAnswersMarked;
                                bool canShowOtherAnswers = Selection.Round
                                                                    .Questions
                                                                    .Except(Selection.Question)
                                                                    .Any(question => question.State == QuestionState.Locked
                                                                                     && question.Answers.All(answer => answer.AssignedPoints >= 0));
                                <Dropdown Display="Display.Flex" RightAligned="true" Disabled="!canShowOtherAnswers">
                                    <Button Block="true" Color="isQuestionLocked ? Color.Primary : Color.Dark" Clicked="Selection.Question.ShowAnswer" Outline="true" Disabled="!canShowAnswer">
                                        Show Answer
                                        @if (isQuestionLocked && !areAllAnswersMarked)
                                        {
                                            <Blazorise.Text Display="Display.Inline" Color="TextColor.Warning">
                                                <Icon Name="IconName.Lock" />
                                            </Blazorise.Text>
                                        }
                                    </Button>
                                    <DropdownToggle Split="true" Color="canShowOtherAnswers ? Color.Primary : Color.Dark" Outline="true" />
                                    <DropdownMenu>
                                        <DropdownItem Clicked="ShowAllQuestionAnswersInRoundAsync">
                                            Show all answers in round
                                        </DropdownItem>
                                    </DropdownMenu>
                                </Dropdown>
                            }
                        </Column>
                    }
                </Row>
                <Row>
                    <Column ColumnSize="ColumnSize.IsFull">
                        <Divider DividerType="DividerType.TextContent" Text="Answers" Margin="Margin.Is4.FromTop" />
                    </Column>
                </Row>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.IsFull">
                @if (Quiz.Participants.Count == 0)
                {
                    <Heading Size="HeadingSize.Is5" Alignment="TextAlignment.Center" Margin="Margin.Is2.FromTop" Color="TextColor.Muted">
                        No participants present.
                    </Heading>
                }
                else if (Selection.Question.Answers.Count == 0)
                {
                    if (Selection.Question.State >= QuestionState.Locked)
                    {
                        <Heading Size="HeadingSize.Is5" Alignment="TextAlignment.Center" Margin="Margin.Is2.FromTop" Color="TextColor.Muted">
                            No participants present before question was locked.
                        </Heading>
                    }
                    else
                    {
                        <Heading Size="HeadingSize.Is5" Alignment="TextAlignment.Center" Margin="Margin.Is2.FromTop" Color="TextColor.Muted">
                            No submitted answers.
                        </Heading>
                    }
                }
                else
                {
                    <Row>
                        @foreach (var submittedAnswer in Selection.Question.Answers)
                        {
                            <Column ColumnSize="ColumnSize.Is6.Is4.OnDesktop.Is3.OnFullHD" Margin="Margin.Is3.OnY">
                                <HostSubmittedAnswerView SubmittedAnswer="submittedAnswer" @key="submittedAnswer.Id" />
                            </Column>
                        }
                    </Row>
                }
            </Column>
        </Row>
    </CardBody>
</Card>
